*{
    text-decoration: none;
}
body{
    background: #000000;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #151515;
}
.menu{
    height: 50px;
    width: 1150px;
    margin-top: 0px;
    margin: auto;
    background: #151515;
}
a.logo{
    top: 0;
    padding: 0px;
    font-size: 45px;
    color: #67f813;
    float: left;

}

a.menu_link{
    color: #989898;
    padding: 15px;
    float: left;

}
a.menu_link:hover{
    color: #f98c0a;
}

a.login{
    color: #67f813;
    float: right;
    padding: 15px;

}
a.login:hover{
    color: #f98c0a;
    background: #000000;
}

.serch{
    padding: 15px;
}


.img{
    margin: auto;
    height: 300px;
    width: 1150px;
    background-attachment: fixed;
    background-image: url('img/fon.jpg');
}

.wrapper{
    width: 1150px;
    background: #ffffff;
    color: #000000;
    margin:  auto;
}





